<tr class="table-entry" dataId="{{id}}" dataName="{{name}}" dataEmail="{{email}}">
    <td class="name">{{name}}</td>
    <td class="email">{{email}}</td>
    <td class=""><button class="btn btn-primary btn_height modalBtn">Edit User</button></td>
    <td><button type="button" class="btn btn-danger btn_height">Delete entry?</button></td>
</tr>
